<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Pepper Target">
  <locations>
    <location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.slf4j.api" version="0.0.0"/>
      repository location="http://download.eclipse.org/releases/indigo/"/
    </location>
  </locations>
</target>
